.hero-body-background{
    /*padding:9rem 1.5rem;*/
    height: 600px;
    align-items:center;
    display:grid;
    position: relative;
    background: url("../assets/varybackground1.gif") no-repeat center center;
    background-size: cover;
}


#hero-body-background11{
    /*padding:9rem 1.5rem;*/
    height: 800px;
    align-items:center;
    display:grid;
    position: relative;
    background: url("../assets/intro4.gif") no-repeat center center;
    background-size: cover;
}

/* <img src="static/assets/toylogo.jpg" alt="Logo" width="10" height="10"> */
@media screen and (max-width: 768px) {
    .hero-body-background {
        height: 450px;
    }    
    .hero-body-background::add {
        height: 450px;
    }    
    .hero-body-long-video {
        padding-top: 0!important;
        padding-bottom: 0!important;
    }
}

.hero-body-background-div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: #0000004a; */
    /* background: #3ddb2f; */
    /* background: #FfFfFf; */
    /* background: #ccffcc; */
}


.hero-body-gradient-black{
    padding: 1.5rem 1.5rem 0.5em 1.5em;
    align-items:center;
    display:flex;
    /* background: linear-gradient(#7a7a7a, #FfFfFf); */
    /* background: linear-gradient(#ccffcc, #ccffcc); */
    /* background: #FfFfFf; */
}
.hero-body-long-video{
    padding-top: 3em;
    padding-bottom: 3em;
    /* padding: 5em 24rem 2em 24em; */
    align-items:center;
    display:flex;
    /* background: linear-gradient(#9D9D9D, #FfFfFf); */
    /*background: url("../assets/back.jpeg") no-repeat center center;*/
    justify-content: center;

}
.column-video{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /*padding:1rem 1rem;*/
    align-items:center;
    display:flex;
    /*background: #4a4a4a;*/
    justify-content: center;
}
.hero-body-example{
    padding:3rem 2rem;
    align-items:center;
    display:flex;
    /* background: #F5F5F5; */
}
.hero-body-gallery{
    padding:5rem 5rem;
    align-items:center;
    display:flex;
    background: #fff;
}
.hero-body-subtitle{
    padding: 1.5rem 1.5rem 1.5em 1.5em;
    align-items:center;
    display:flex;
    background: #fff;
}
.hero-body-subtitle-light{
    padding: 1.5rem 1.5rem 1.5em 1.5em;
    align-items:center;
    display:flex;
    background: #fff;
}
.hero-black{
    background: #050b12;
}
@font-face {
    font-family: shadowintolight;
    src:url("../../font/ShadowsIntoLight-Regular.ttf");
}
@font-face {
    font-family: JosefinSans;
    src:url("../../font/JosefinSans-VariableFont_wght.ttf");
}
@font-face {
    font-family: BebasNeue;
    src:url("../../font/BebasNeue-Regular.ttf");
}
@font-face {
    font-family: Acme;
    src:url("../../font/Acme-Regular.ttf");
}
@font-face {
    font-family: PressStart2P;
    src:url("../../font/PressStart2P-Regular.ttf");
}
@font-face {
    font-family: IndieFlower;
    src:url("../../font/IndieFlower-Regular.ttf");
}
@font-face {
    font-family: DMSerifText;
    src:url("../../font/DMSerifText-Regular.ttf");
}
@font-face {
    font-family: NotoSerifBalinese;
    src:url("../../font/NotoSerifBalinese-Regular.ttf");
}
@font-face {
    font-family: Quicksand;
    src:url("../../font/Quicksand-VariableFont_wght.ttf");
}
@font-face {
    font-family: WelcomeSummer;
    src:url("../../font/WelcomeSummer.ttf");
}
@font-face {
    font-family: WelcomeSummer-Italic;
    src:url("../../font/WelcomeSummer-Italic.ttf");
}
@font-face {
    font-family: Minimoish;
    src:url("../../font/Minimoish.ttf");
}
@font-face {
    font-family: Kidland;
    src:url("../../font/Kidland.ttf");
}
@font-face {
    font-family: Wendy;
    src:url("../../font/Wendy.ttf");
}
@font-face {
    font-family: PrinceFlamingoRegular;
    src:url("../../font/PrinceFlamingoRegular.ttf");
}
@keyframes bounce1 {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-20px); }
  60% { transform: translateY(-10px); }
}
@keyframes bounce2 {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-30px); }
    60% { transform: translateY(-15px); }
}
@keyframes bounce3 {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-25px); }
    60% { transform: translateY(-5px); }
}

@keyframes bounce4 {
    0%, 50%, 100% { transform: translateX(0) translateY(0); }
    15% { transform: translateX(-20px) translateY(-20px); }
    25% { transform: translateX(-40px) translateY(0px); }
    35% { transform: translateX(-20px) translateY(-20px); }
    65% { transform: translateX(20px) translateY(-20px); }
    75% { transform: translateX(40px) translateY(0px); }
    85% { transform: translateX(20px) translateY(-20px); }

    /* 75% { transform: translateX(-20px) translateY(-10px); } */
}

.word1 { animation: bounce1 1s infinite; }
.word2 { animation: bounce2 2s infinite; }
.word3 { animation: bounce3 3s infinite; }
.word4 { animation: bounce1 1.5s infinite; }
.word5 { animation: bounce2 1.0s infinite; }
.word6 { animation: bounce3 1.75s infinite; }
.word7 { animation: bounce4 3s infinite;}
